.dark-mode {
    --background-color: #010101;
    --foreground-color: #0e0e0e;
    --text-color: #ffffff;
}

.light-mode {
    --background-color: #ffffff;
    --foreground-color: #eeeeee;
    --text-color: #010101;
}

* {
    margin: 0px;
    font-family: system-ui, 'Segoe UI';
    font-weight: 500;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    transition: 0.3s;
}

.icon {
    fill: var(--text-color);
}

img {
    object-fit: contain;
}

video {
    object-fit: contain;
}

h1 {
    font-weight: bold;
}

h4 {
    font-weight: 400;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

a {
    font-size: 24px;
    text-decoration: none;
}

hr {
    margin: 128px 0px;
    border-style: hidden;
}

.nav {
    height: 100%;
    width: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 48px;
    transition: 0.3s;
}

.nav a {
    padding: 8px 8px 8px 32px;
    display: block;
    background-color: var(--background-color);
    transition: 0.3s;
}

.nav a:hover {
    color: #dddddd;
}

.toggle-topbar {
    position: absolute;
    top: 0;
    right: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 12;
}

.open-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
}

.topbar {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--background-color);
    transition: 0.3s;
}

.topbar img {
    height: 42px;
    padding: 8px;
    background-color: var(--background-color);
    transition: 0.3s;
}

.page {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.text {
    padding: 8px;
    transition: 0.3s;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.post-container {
    margin: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--foreground-color);
    transition: 0.3s;
}

.post img {
    width: 80vw;
    border-radius: 12px;
    padding: 6px;
}

.caption {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.post-title {
    padding: 4px 16px;
}

.post-desc {
    padding: 4px 16px;
}

.post-date {
    padding: 8px 16px 16px 16px;
}

.title {
    margin: 64px 0px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

/*COOKIES COOKIES COOKIES*/
/*COOKIES COOKIES COOKIES*/
/*COOKIES COOKIES COOKIES*/

.popup {
    position: fixed;
    max-width: 20%;
    bottom: 20px;
    right: 20px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    z-index: 999;
    transition: 0.3s;
}

.deny-button {
    font-size: large;
    font-weight: bold;
    color: var(--text-color);
    margin: 4px;
    margin-left: 8px;
    padding: 8px;
    background-color: var(--background-color);
    border-radius: 2rem;
    border-style: none;
    transition: 0.3s;
}

.deny-button:hover {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--text-color);
    transition: 0.3s;
}

.accept-button {
    font-size: large;
    font-weight: bold;
    color: var(--background-color);
    margin: 4px;
    margin-left: 8px;
    padding: 8px;
    background-color: var(--text-color);
    border-radius: 2rem;
    border-style: none;
    transition: 0.3s;
}

.accept-button:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: 0.3s;
}

/*ALPHAS ALPHAS ALPHAS*/
/*ALPHAS ALPHAS ALPHAS*/
/*ALPHAS ALPHAS ALPHAS*/

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alpha {
    padding: 8px;
    padding: 1rem;
    position: relative;
    margin: 4px;
}

.alpha img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.alpha img:hover {
    scale: 1.05;
    transition: 0.2s;
}

/*SEARCH SEARCH SEARCH*/
/*SEARCH SEARCH SEARCH*/
/*SEARCH SEARCH SEARCH*/

.search-bar {
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 16px;
    border-radius: 24px;
    border-style: none;
    background-color: var(--foreground-color);
    color: var(--background-color);
    transition: 0.3s;
}

.search-button {
    margin-left: 8px;
    width: 50px;
    border-radius: 24px;
    border-style: none;
    color: var(--background-color);
    background-color: var(--text-color);
    transition: 0.3s;
}

.search-button:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--foreground-color);
    transition: 0.3s;
}

/*PRODUCTS PRODUCTS PRODUCTS*/
/*PRODUCTS PRODUCTS PRODUCTS*/
/*PRODUCTS PRODUCTS PRODUCTS*/

.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vw;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.product:hover {
    cursor: pointer;
    scale: 1.01;
    transition: 0.3s;
}

.product-container {
    margin: 4px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--foreground-color);
    transition: 0.3s;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product button {
    font-size: large;
    font-weight: bold;
    color: var(--background-color);
    margin: 4px;
    margin-left: 8px;
    padding: 8px 16px;
    background-color: var(--text-color);
    border-radius: 2rem;
    border-style: none;
    transition: 0.3s;
}

.product button:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: 0.3s;
}

.product-info {
    margin: 8px 16px;
}

/*BUTTONS BUTTONS BUTTONS*/
/*BUTTONS BUTTONS BUTTONS*/
/*BUTTONS BUTTONS BUTTONS*/

.wide-button {
    margin: 64px 0px;
    display: flex;
    justify-content: center;
}

.wide-button button {
    width: 50vw;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2rem;
    border-style: none;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: 0.3s;
}

.wide-button button:hover {
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    scale: 1.01;
    transition: 0.3s;
}

.toggle {
    display: flex;
    justify-content: center;
}

.toggle button {
    margin: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 2rem;
    border-style: none;
    transition: 0.3s;
}

.toggle button:hover {
    cursor: pointer;
    background-color: var(--text-color);
    transition: 0.3s;
}

.material-icons {
    color: var(--text-color);
    margin: 4px;
    transition: 0.3s;
}

.toggle button:hover .material-icons {
    color: var(--background-color);
    transition: 0.3s;
}

.material-symbols-rounded {
    color: var(--text-color);
    scale: 1.6;
    margin: 20px 16px;
    transition: 0.3s;
}

/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/

footer {
    width: 100%;
    margin-top: 32px;
    padding: 32px 0px;
    bottom: 0;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: 0.3s;
}

footer a {
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.email {
    padding: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.email:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/*DESKTOP DESKTOP DESKTOP*/
/*DESKTOP DESKTOP DESKTOP*/
/*DESKTOP DESKTOP DESKTOP*/

@media only screen and (min-width: 769px) {
    .text {
        max-width: 50vw;
    }

    .post img {
        max-width: 45vw;
        height: auto;
    }

    .post video {
        max-width: 45vw;
        height: auto;
    }

    .caption {
        width: 45vw;
    }

    canvas {
        width: 25vw;
    }

    .popup {
        max-width: 16vw;
    }

    .alpha {
        width: 15vw;
    }

    .search-input {
        width: 25vw;
    }

    .product-container {
        width: 20vw;
    }
}

/*SMARTPHONE SMARTPHONE SMARTPHONE*/
/*SMARTPHONE SMARTPHONE SMARTPHONE*/
/*SMARTPHONE SMARTPHONE SMARTPHONE*/

@media only screen and (max-width: 768px) {
    .text {
        max-width: 80vw;
    }

    .post img {
        max-width: 80vw;
        height: auto;
    }

    .post video {
        max-width: 80vw;
        height: auto;
    }

    .caption {
        width: 80vw;
    }

    canvas {
        width: 80vw;
    }

    .popup {
        max-width: 80vw;
    }

    .alpha {
        width: 80vw;
    }

    .search-input {
        width: 70vw;
    }

    .product-container {
        width: 80vw;
    }
}
